body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container {
    background-color: cadetblue;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#historyDialog {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

dialog::backdrop {
  background-color: gray;
  opacity: 0.75;
}