:root {
    --first-bg: #0d1117; 
    --second-bg: #0f141b;
    --third-bg: #111721;
    --fourth-bg: #161b22;
    --main-accent: #58a6ff;
    --second-accent: #1f6feb;
    --main-font: #e6edf3;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--main-font);

    /*border: 1px solid white;*/
}

h1, h2, h3 {
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

#welcome-section {
    height: 100vh;
    background: linear-gradient(to bottom, var(--first-bg), var(--second-bg));
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.profile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img{
    width: 100%;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    padding-left: 2rem;
}

#about-section {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--second-bg), var(--third-bg));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    text-align: center;
}

#about-section p {
    text-align: left;
}

.short-intro {
    max-width: 60rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 10rem;
    margin-top: 2rem;
}

.skills-grid ul {
    list-style: none;
}

#skills-heading {
    grid-column: 1 / -1;
    text-align: center;
}

#project-section {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--third-bg), var(--fourth-bg));  
}

#project-section * {
    text-align: center;
}

.project-tile {
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 20rem;
    transition: transform 0.3s ease-in-out;
}

.project-tile:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project-tile img {
    width: 100%;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    height: 80%;
    object-fit: contain;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 4rem 2rem;
}

#contact-section {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--fourth-bg) 80%, var(--first-bg));
}

#contact-section * {
    text-align: center;
}

.section-container {
    display:flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
}

.profile-link {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.3);
    transition: 0.2s all linear;
}

.profile-link:hover {
    transform: translateY(5px);
}


.navbar {
    width: 100%;
    height: 5rem;
    padding-right: 1.6rem;
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--main-accent) 10%, var(--second-accent));
    font-size: 1.6rem;
    z-index: 100;
}

.navbar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

section {
    scroll-margin-top: 5rem;
    padding: 2rem;
}


@media (min-width: 768px) {
    html {
        font-size: 100%;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }

    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 125%;
    }
}